body{
  background-color: rgb(218, 225, 248)

}
h4 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:darkblue;text-align: center; margin-left: 10%;margin-right: 10%;
}

h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:darkslategray;text-align: center; margin-left: 10%;margin-right: 15%;;
}
img {height: 350px; position:relative; margin-left: 35%;border-radius: 50%; }
